@{
    ViewData["Title"] = "Donate";
}

<h1>Make a Donation</h1>

<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Left side content -->
                <div class="cont-details">
                    <br />
                    <h5 class="mb-4">Donation Via EFT - Smyrna Global Outreach Details Below</h5>
                    <hr />
                </div>
                <div class="card">
                    <div class="card-body2">
                        <div class="details">
                            <h6 class="mt-4">Bank:</h6>
                            <p>
                                FNB
                            </p>
                            <h6 class="mt-4">Account Name:</h6>
                            <p> Symrna Global Outreach</p>
                            <h6 class="mt-4">Account Number:</h6>
                            <p> 85238526963</p>
                            <h6 class="mt-4">Branch:</h6>
                            <p> Hillcrest</p>
                            <h6 class="mt-4">Branch Code:</h6>
                            <p> 223726</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <!-- Right side content -->
                <div class="cont-details">
                    <br />
                    <h5 class="mb-4">Donation Via PayPal - Click The Button Below</h5>
                    <hr />
                
                    <!--Button connected to the ParadigmProgramming PayPal account-->
                <div id="donate-button-container">
                    <div id="donate-button"></div>
                    <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
                    <script>
                        PayPal.Donation.Button({
                            env: 'production',
                            hosted_button_id: 'EF2LE5FN6BJY8',
                            image: {
                                src: 'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
                                alt: 'Donate with PayPal button',
                                title: 'PayPal - The safer, easier way to pay online!',
                            }
                        }).render('#donate-button');
                    </script>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
