@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/newstyle.css" />

<!-- /content-6-main-->
<div class="content-6-mian py-5">
    <div class="container py-lg-5">
        <div class="content-info-in row">
            <div class="col-lg-6">
                <img src="~/images/about1.jpeg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self  pl-lg-4">
                <div class="title-content text-left mb-2">
                    <h3 class="hny-title">
                        Background Of The Organization
                    </h3>
                </div>
                <p>
                    
                    Apostle Sardar Masih, formerly from Pakistan, arrived in South Africa in 2004 with his wife and infant children. They resided and commenced Mission training at the William Carey School of World Mission, Verulam, KZN. Upon the completion of his training, he obeyed God’s call to stay on and to work in the same community. On the outskirts of Verulam, in the diverse community of New Glasgow, Smyrna Global Outreach was founded.
                    <br />
                    <br />
                    The inception of the ministry would become evident, as the community would bear witness to the door to door evangelism and the preaching of the Gospel for the next two years. Despite this family’s humble beginning, the Ministry grew in leaps and bounds as the Lord continued to bless and use this Mission family in touching and transforming many lives.

                </p>

            </div>
            <div class="col-lg-6 mt-5 about-right-faq align-self order2">
                <div class="title-content text-left mb-2">
                   @* <h3 class="hny-title">Our Goals</h3>*@
                </div>
                <p>
                    In efforts in acquiring the appropriate property to set up and start a Mission School, the family had moved houses five times in the ten years that they had resided there. In 2015, the Apostle had made a decision to move out of the community and lived in Phoenix, KZN for a year. As he waited upon God for direction, his prayer was answered in December 2016; in the form of someone who would donate property in Cato Ridge, KZN.
                    <br />
                    <br />
                    This meant that the Ministry would operate effectively, and there was enough room to open up the Mission school. Proving that this was a miraculous move of God, Smyrna Global Outreach is currently operating from Cato Ridge KZN, since December 2016.
                </p>

            </div>
            <div class="col-lg-6 mt-5 pl-lg-4">
                <img src="~/images/about2.jpg" height="300" width="300" alt="" class="img-fluid">
            </div>

        </div>
    </div>
</div>
