@{
	ViewData["Title"] = "Team Page";
}

<link rel="stylesheet" href="~/css/newstyle.css" />

<!-- team -->
<section class="w3l-team-main py-5" id="team">
	<div class="container py-lg-4">
		<div class="title-content text-center mb-lg-5 mb-4">

			<h3 class="hny-title">Team</h3>
		</div>

		<div class="row inner-sec-w3layouts-w3pvt-lauinfo">
			<div class="col-md-4 col-6">
				<div class="team-grids text-center">
					<img src="~/images/team1crop.png" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption">
							<h4>APOSTLE SARDAR MASIH</h4>
							<h6>Director/ President</h6>
							<p style="color:white;">At Smyrna Global Outreach. Apostle Sardar’s passion is to reach out to the non-believers to instill hope in the Lord Jesus Christ.</p>
						</div>
					</div>
				</div>
	
			</div>
			<div class="col-md-4 col-6">
				<div class="team-grids text-center">
					<img src="~/images/team2crop.png" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption">
							<h4>NATASHA MAHADEO</h4>
							<h6>Director/ Secretary</h6>
							<p style="color:white">Miss Mahadeo is in charge of Administration .Miss Mahadeo is fueled with Godly discernment that assists her in managing the running of the Mission.</p>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-md-4 col-6 mt-md-0 mt-4">
				<div class="team-grids text-center">
					<img src="~/images/team3crop.png" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption">
							<h4>ALVIN NAICKER</h4>
							<h6>Treasurer/ Benefactor</h6>
							<p style="color:white">Mr Naicker has been a consistent supporter and a blessing to Smyrna Global Outreach. Mr Naicker has played a pivotal role in donating the property for the Organization.</p>
						</div>
					</div>
				</div>
				</div>
        </div>
    </div>
</section>