@model Smyrna_Prototype.ViewModels.SearchProduceListViewModel

<html>
    <head>
    <link href="~/css/morph.css" rel="stylesheet" />
    </head>

<h1>Currently Available Produce</h1> <!--Page Heading-->
<body class="produce">
    
    <form autocomplete="off">
        <p>
            Search By Product Name: <input type="text" asp-for="SearchProductTypeString" />
            <input type="submit" value="Filter" />
        </p>
    </form>

    <ul style="padding-right: 40px">
        <!--foreach to show the products-->
        @foreach (var produce in Model.Products)
        {
            <li style="display: inline-block;">
                <div class="containerP">
                    <div class="card">
                        <div class="content">
                            <h3>@produce.ProductName</h3>
                            <h5>@produce.ProductDescription</h5>
                        <img decoding="async" src="@("~/image/"+produce.ImageName)" asp-append-version="true" height="200" width="200" />
                            <p><a class="btn success" asp-controller="Produces" asp-action="Details" asp-route-id="@produce.ProductId">View Details</a></p>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
    <script src="~/js/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"), {
            max: 20,
            speed: 400,
            glare: 50
        });
    </script>
</body>
</html>


