@model Smyrna_Prototype.Models.CustomerReview
@{
    ViewData["Title"] = "Venue Hire Page";
}

<!-- Font Awesome icons (free version)-->
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="~/css/venuestyles.css" rel="stylesheet" />
@*<link rel="stylesheet" href="~/css/newstyle.css" />*@
<link href="~/css/morph.css" rel="stylesheet" />

<!-- Masthead-->
<header class="masthead bg-secondary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Venue Hire</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Weddings - Fine Dining - Events</p>
    </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Gallery</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="~/assets/img/venuehireimages/venuehire1.png" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="~/assets/img/venuehireimages/venuehire2.png" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="~/assets/img/venuehireimages/venuehire4.png" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="~/assets/img/venuehireimages/venuehire5.png" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="~/assets/img/venuehireimages/venuehire6.png" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 6-->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="~/assets/img/venuehireimages/venuehire7.png" alt="..." />
                </div>
            </div>
        </div>
    </div>

</section>
<!-- About Section-->
<section class="page-section bg-secondary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Need a Venue? Hire now.</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Our versatile venue transforms seamlessly to match your event's vision. With customizable spaces and amenities, we create the perfect ambiance for any occasion. Your imagination, our canvas.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">Elevate your event with our exceptional venue. From top-notch facilities to expert support, we offer an unforgettable experience that exceeds your expectations. Book now for excellence redefined.</p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="/Enquiries/Contact">
                <i class=""></i>
                CONTACT US NOW
            </a>
        </div>
    </div>
</section>

<section class="cust-review">
    <div class="container">
        <br />  
        <h2>Customer Reviews</h2>
        <ul style="padding-right: 40px">
            <!--foreach to show the products-->
           
                <li style="display: inline-block;">
                    <div class="container">
                        <div style="height:fit-content; width:fit-content">
                        <div class="content" style="border:solid; border-radius: 50px; background-color: #D9E3F1; padding: 20px">
                                <h4>Review</h4>
                                Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                                ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.fugiat consequatur voluptatem nihil ad.Lorem illum facere aperiam consectetur adipisicing.
                                @*<p><a class="btn success" asp-controller="Produces" asp-action="Details" asp-route-id="@produce.ProductId">View Details</a></p>*@
                            </div>
                        </div>
                    </div>
                </li>

                <li style="display: inline-block;">
                    <div class="container">
                        <div style="height:fit-content; width:fit-content">
                        <div class="content" style="border:solid; border-radius: 50px; background-color: #D9E3F1; padding: 20px">
                                <h4>Review</h4>
                                Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                                ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.fugiat consequatur voluptatem nihil ad.Lorem illum facere aperiam consectetur adipisicing.
                                @*<p><a class="btn success" asp-controller="Produces" asp-action="Details" asp-route-id="@produce.ProductId">View Details</a></p>*@
                            </div>
                        </div>
                    </div>
                </li>

            <li style="display: inline-block;">
                <div class="container">
                    <div style="height:fit-content; width:fit-content">
                        <div class="content" style="border:solid; border-radius: 50px; background-color: #D9E3F1; padding: 20px">
                            <h4>Review</h4>
                            Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                            ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit.fugiat consequatur voluptatem nihil ad.Lorem illum facere aperiam consectetur adipisicing.
                            @*<p><a class="btn success" asp-controller="Produces" asp-action="Details" asp-route-id="@produce.ProductId">View Details</a></p>*@
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<br />
<section>
    <div class="col-lg-6 form-inner-cont">
        <div class="title-content text-left">
            <h3 class="hny-title mb-lg-5 mb-4">Write us a Review</h3>
        </div>
        <form asp-action="CustomerReview" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <textarea asp-for="Review" class="form-control"></textarea>
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button class="btn success" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>

<!-- stats number counter-->
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>


