@{
	ViewData["Title"] = "Team Page";
}

<link rel="stylesheet" href="~/css/newstyle.css" />

<!-- team -->

<section class="w3l-team-main py-5" id="team">
	<div class="container py-lg-4">
		<div class="title-content text-center mb-lg-5 mb-4">
			<h6 class="sub-title">Our Team</h6>
			<h3 class="hny-title">Meet Our Leadership</h3>
		</div>
		<div class="row inner-sec-w3layouts-w3pvt-lauinfo">
			<div class="col-md-3 col-6">
				<div class="team-grids text-center">
					<img src="~/images/person1.jpg" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption">
							<h4>Sardar Masih</h4>
							<h6>Apostle</h6>
							<p style="color:white;">Dedicated pastor nurturing faith, fostering community, and guiding souls toward spiritual growth and compassionate living through heartfelt sermons.</p>
						</div>
					</div>
				</div>
				<div class="social-icons-section text-center">
					<a class="fac" href="#url">
						<i class="fa fa-facebook"></i>
					</a>
					<a class="twitter" href="#url">
						<i class="fa fa-twitter"></i>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-6">
				<div class="team-grids text-center">
					<img src="~/images/person2.png" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption">
							<h4>Brown Lady</h4>
							<h6>Administrator</h6>
							<p style="color:white">Efficient assistant adept at multitasking, organizing tasks, and supporting productivity, ensuring smooth operations and enabling streamlined workflow for success.</p>
						</div>
					</div>
				</div>
				<div class="social-icons-section text-center">
					<a class="fac" href="#url">
						<i class="fa fa-facebook"></i>
					</a>
					<a class="twitter" href="#url">
						<i class="fa fa-twitter"></i>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-6 mt-md-0 mt-4">
				<div class="team-grids text-center">
					<img src="~/images/person3.jpg" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption">
							<h4>Farmer Brown</h4>
							<h6>Farmer</h6>
							<p style="color:white">Dedicated farmer cultivating the land, reaping nature's bounty, and stewarding sustainable practices to nourish communities and nurture the earth.</p>
						</div>
					</div>
				</div>
				<div class="social-icons-section text-center">
					<a class="fac" href="#url">
						<i class="fa fa-facebook"></i>
					</a>
					<a class="twitter" href="#url">
						<i class="fa fa-twitter"></i>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-6 mt-md-0 mt-4">
				<div class="team-grids text-center">
					<img src="~/images/person4.jpg" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption">
							<h4>White Lady</h4>
							<h6>Patient</h6>
							<p style="color:white">Resilient rehabilitated patient, triumphing over adversity with determination, embracing positive change, and inspiring others with their journey of transformation.</p>
						</div>
					</div>
				</div>
				<div class="social-icons-section text-center">
					<a class="fac" href="#url">
						<i class="fa fa-facebook"></i>
					</a>
					<a class="twitter" href="#url">
						<i class="fa fa-twitter"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>